<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<h2>Status de Moto</h2>
<a th:href="@{/status/new}">➕ Novo Status</a>
<table border="1">
<tr><th>ID</th><th>Nome</th><th>Ações</th></tr>
<tr th:each="s : ${statuses}">
<td th:text="${s.id}"></td>
<td th:text="${s.nome}"></td>
<td>
  <a th:href="@{/status/edit/{id}(id=${s.id})}">Editar</a> |
  <a th:href="@{/status/delete/{id}(id=${s.id})}" onclick="return confirm('Excluir?')">Excluir</a>
</td>
</tr>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
